<header class="navbar navbar-expand navbar-light bg-light flex-column flex-md-row bd-navbar">
	<div class="navbar-nav-scroll">
		<ul class="navbar-nav bd-navbar-nav flex-row">
			<li class="nav-item">
				<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
					Home
				</NavLink>
			</li>
			<li class="nav-item">
				<NavLink class="nav-link" href="player">
					Player
				</NavLink>
			</li>
		</ul>
	</div>
</header>
